<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :name, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sex_ids, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <% Sex.all.each do |sex| %>
          <%= f.label :sex_ids, value: sex.id, class: 'checkbox-inline' do %>
            <%= f.check_box :sex_ids, { multiple: true }, sex.id, nil %><%= sex.name %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :is_employee, class: 'control-label col-sm-4' %>
      <div class="col-sm-4">
        <%= f.select :is_employee, EmployeeStatus.all.map { |e| [e.name, e.type] },
                                   { include_blank: true },
                                   class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :age, class: 'control-label col-sm-4' %>
      <div class="col-sm-3">
        <%= f.number_field :lower_limit_age, class: 'form-control' %>
      </div>
      <div class="col-sm-1">
        <span>&#xff5e;</span>
      </div>
      <div class="col-sm-3">
        <%= f.number_field :higher_limit_age, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :has_dog, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.label :has_dog, class: 'checkbox-inline' do %>
          <%= f.check_box :has_dog %>&nbsp;
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :corporation_name, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :corporation_name, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
